<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>产品管理</title>
    <link rel="stylesheet" href="../utilLib/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../css/upload.css">
    <style>
    ::-webkit-scrollbar {display:none}
        body {
            padding: 10px 20px 20px 20px;
        }

        nav {
            border-radius: 5px;
            background: #009DDA;
            color: #fff;
            line-height: 50px;
            padding: 0 0 0 10px;
        }
        .xuan,.proImg,.dirDiv{
            display:flex;
            flex-flow: wrap;
            margin:0 0 10px 0;
        }
        .xuanDiv{
            display:flex;width:50%;margin-bottom: 10px;
        }
        .xuanDiv div:first-of-type,.proSpan{
            display:flex;flex-direction: column;
        }
        .xuanDiv div:first-of-type span:last-of-type{
            margin:10px 10px 0 0;
        }
        .xuanBig{
            width:max-content;
        }
        .xuanBig span:first-of-type{
            float:left;
        }
        .xuanBut{
            border:1px dashed #000;padding:10px;width:100px;margin:auto;text-align:center;cursor:pointer;
        }
        .proDiv{
            display: flex;
            justify-content:space-around;
        }
        .proSpan{
            width:50%;
            margin:10px 0 0 0;
        }
        .dirDiv .dirImg{
            width:25%;
            margin:0 0 10px 0;
        }
    </style>
</head>

<body>
    <nav>首页</nav>
    <!-- banner图 -->
    <p style="border-bottom:1px dashed #ccc;padding:10px 0;font-weight:800;">banner图</p>
    <div class="section">
        <div class="article">
            <!-- 存储 token  1小时有效 -->
            <input name="token" type="hidden" value="" />
            <div class="item">
                <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                <input name="url" type="file" class="upload_input" onchange="change(this)" />
                <div class="preBlock">
                    <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                </div>
                <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
            </div>
            
            <div style="clear: left;"></div>
            <div style="margin-top:10px;">格式：jpg,png| 尺寸：1920*1080| 大小：&lt;2M|保证图片文字清晰可见</div>
        </div>
    </div>
    <!-- 宣传位 -->
    <p style="border-bottom:1px dashed #ccc;padding:10px 0;font-weight:800;">宣传位</p>
    <div class="section">

        <div class="article xuan">
            <div class="xuanDiv">
                <div>
                    <span>标题：<input type="text" /></span>
                    <span>链接：<input type="text" /></span>
                </div>
                <div class="xuanBig">
                    <span>图1：</span>
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
            <div class="xuanDiv">
                <div>
                    <span>标题：<input type="text" /></span>
                    <span>链接：<input type="text" /></span>
                </div>
                <div class="xuanBig">
                    <span>图2：</span>
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
            <div class="xuanDiv">
                <div>
                    <span>标题：<input type="text" /></span>
                    <span>链接：<input type="text" /></span>
                </div>
                <div class="xuanBig">
                    <span>图3：</span>
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
            <div class="xuanDiv">
                <div>
                    <span>标题：<input type="text" /></span>
                    <span>链接：<input type="text" /></span>
                </div>
                <div class="xuanBig">
                    <span>图4：</span>
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
            <div class="xuanDiv">
                <div>
                    <span>标题：<input type="text" /></span>
                    <span>链接：<input type="text" /></span>
                </div>
                <div class="xuanBig">
                    <span>图5：</span>
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
            <div class="articleAft"></div>
        </div>
        <div class="xuanBut">添加</div>
    </div>
    <!-- 产品中心 -->
    <p style="border-bottom:1px dashed #ccc;padding:10px 0;font-weight:800;">产品中心</p>
    <div>
        <p>上传图片：请上传6张清晰图，尺寸为竖图480*320，格式为jpg/png，每张图片尺寸一致，单张图片不超过500kB</p>
         <div class="article proDiv">
            <div class="">
                <div class="xuanBig">
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
            <div class="">
                <div class="xuanBig">
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
            <div class="">
                <div class="xuanBig">
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
            <div class="">
                <div class="xuanBig">
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
            <div class="">
                <div class="xuanBig">
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
            <div class="">
                <div class="xuanBig">
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
        </div>
        <div class="proImg">
            <div class="proSpan">
                <span>图1链接：<input type="text" /></span>
            </div>
            <div class="proSpan">
                <span>图2链接：<input type="text" /></span>
            </div>
            <div class="proSpan">
                <span>图3链接：<input type="text" /></span>
            </div>
            <div class="proSpan">
                <span>图4链接：<input type="text" /></span>
            </div>
            <div class="proSpan">
                <span>图5链接：<input type="text" /></span>
            </div>
            <div class="proSpan">
                <span>图6链接：<input type="text" /></span>
            </div>
        </div>
    </div>
    <!-- 合作伙伴 -->
    <p style="border-bottom:1px dashed #ccc;padding:10px 0;font-weight:800;">合作伙伴</p>
    <div>
        <div class="article dirDiv">
            <div class="dirImg">
                <div class="xuanBig">
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
            <div class="dirImg">
                <div class="xuanBig">
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
            <div class="dirImg">
                <div class="xuanBig">
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
            <div class="dirImg">
                <div class="xuanBig">
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
            <div class="dirImg">
                <div class="xuanBig">
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
            <div class="dirImg">
                <div class="xuanBig">
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
             <div class="dirImg">
                <div class="xuanBig">
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
             <div class="dirImg">
                <div class="xuanBig">
                    <div class="item">
                        <img class="addImg" onclick="clickImg(this);" src="../images/upload.png" />
                        <input name="url" type="file" class="upload_input" onchange="change(this)" />
                        <div class="preBlock">
                            <img class="preview" id="preview" alt="" name="pic" width="50" height="50" />
                        </div>
                        <img class="delete" onclick="deleteImg(this)" src="../images/delete.png" />
                    </div>
                    <div style="clear: left;"></div>
                </div>
            </div>
            <div class="dirImg dirAddto">
                <div class="xuanBig">
                    <div class="item dirAdd">
                        <img class="addImg" src="../images/upload.png" />
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display:flex;justify-content:center;"> <button type="button" class="btn btn-primary">提交</button></div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/imgUp.js"></script>
<script>
$(function(){
    // 点击添加宣传位
    var sum = 5;
    var html;
    $(".xuanBut").on("click",function(){
        sum++;
        html = '<div class="xuanDiv"><div><span>标题：<input type="text" /></span><span>链接：<input type="text" /></span></div><div class="xuanBig"><span>图'+sum+'：</span><div class="item"><img class="addImg" onclick="clickImg(this);" src="../images/upload.png" /><input name="url" type="file" class="upload_input" onchange="change(this)" /><div class="preBlock"><img class="preview" id="preview" alt="" name="pic" width="50" height="50" /></div><img class="delete" onclick="deleteImg(this)" src="../images/delete.png" /></div><div style="clear: left;"></div></div></div>';

        $(".articleAft").before(html);
    })
    // 点击添加合作伙伴
    $(".dirAdd").on("click",function(){
        html = ' <div class="dirImg"><div class="xuanBig"><div class="item"><img class="addImg" onclick="clickImg(this);" src="../images/upload.png" /><input name="url" type="file" class="upload_input" onchange="change(this)" /><div class="preBlock"><img class="preview" id="preview" alt="" name="pic" width="50" height="50" /></div><img class="delete" onclick="deleteImg(this)" src="../images/delete.png" /></div><div style="clear: left;"></div></div></div>';
        $(".dirAddto").before(html);
    })
})




// 图片上传
    $(document).ready(function () {
        $.ajax({
            url: 'http://www.ccsc58.cc/weixinnew/Suggestions/php-sdk-7.2.3/getToken.php',
            type: 'POST',
            dataType: 'JSONP',
            jsonp: 'callback',
            jsonpCallback: 'data',
            success: function (res) {
                $('input[name=token]').val(res.list);
            }
        })
    });
    //点击
    var clickImg = function (obj) {
        $(obj).parent().find('.upload_input').click();

    }
    //删除
    var deleteImg = function (obj) {
        // var formData = new FormData();
        //  formData.append('file', $(obj).parent().find('input')[0].files[0]);
        // formData.append('token', $('input[name=token]').val());
        // $.ajax({
        //     url: "http://rs.qiniu.com/delete/",
        //     type: 'POST',
        //     data:formData,
        //     cache: false,
        //     processData: false,
        //     async: false,
        //     contentType: false,
        //     success:function(){

        //     }
        // })
        $(obj).parent().find('input').val('');
        $(obj).parent().find('img.preview').attr("src", "");
        //IE9以下
        $(obj).parent().find('img.preview').css("filter", "");
        $(obj).hide();
        $(obj).parent().find('.addImg').show();
    }
    //选择图片
    function change(file) {
        //预览
        var pic = $(file).parent().find(".preview");
        //添加按钮
        var addImg = $(file).parent().find(".addImg");
        //删除按钮
        var deleteImg = $(file).parent().find(".delete");

        var ext = file.value.substring(file.value.lastIndexOf(".") + 1).toLowerCase();

        // gif在IE浏览器暂时无法显示
        if (ext != 'png' && ext != 'jpg' && ext != 'jpeg') {
            if (ext != '') {
                alert("图片的格式必须为png或者jpg或者jpeg格式！");
            }
            return;
        }
        html5Reader(file, pic, addImg, deleteImg);

    }
    //H5渲染
    function html5Reader(file, pic, addImg, deleteImg) {
        var formData = new FormData();
        formData.append('file', file.files[0]);
        formData.append('token', $('input[name=token]').val());
        $.ajax({
            url: 'http://up-z1.qiniup.com',
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            async: false,
            contentType: false,
            success: function (res) {
                pic.attr("src", 'http://ov0v30wya.bkt.clouddn.com/' + res.key);
            }
        })

        addImg.hide();
        deleteImg.show();
    }
</script>

</html>